body {
    margin: 0;

    padding: 0;

    /* For IE8 and earlier */
}
#head{
    z-index: 999;
}
@media only screen and (max-width: 1026px) {
    #info {
        display: none;
    }


    #headSocial {
        display: none;
    }

}

#logo {
    margin-top: 5px;
    transition: 0.2s;
}

#info {
    transition: 0.2s;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: white;
    margin-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

#headSocial {
    margin-top: 30px;
    transition: 0.8s;

}

.zoomInClass{
    width: 95px;
    height: 95px;
}

.zoomOutClass{
    width: 90px;
    height: 90px;
}


#head {
    display: block;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: white;
}

#topHeaderContainer {
    display: flex;
    background-image: url('img/logoBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    margin: auto;
}



.rightBor {
    border-right: 2px solid rgba(60, 60, 60, 0.33);
}

.inlineHead {
    float: left;
}

#div-nav {
    background-color: #e7e7e7;
    border-radius: 50px 20px;
    margin-top: 10px;
    margin-left: 20px;
    height: 160px;
    overflow:hidden;
    overflow-x: scroll;
    margin-right: 20px;
    transition: 0.2s;

}

#mainContainer {
    padding-top: 365px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("img/MainBackground.jpg") repeat;
    height: 1000px;
    width: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.iconImg {
    display: block;
}
.iconImg{
    height: 90px;
    width: 90px;
    font-size: 0;

}

.pizzaType{
    height: 90%;
    border-radius: 25px;
    width: 100%;
}
.pizzaListTitle{
    font-family: 'Amethysta';
    font-size: 40px;
    height: 70px;
    background-image: url('img/pizzaTitleBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

.itemList{
    font-family: 'Amethysta';
    float: left;
    margin-left: 2.5%;
    margin-top: 1%;
    line-height: 22px;
    width: 45%;
    height: 200px;
    min-width: 380px;
    color: #696969;
    border-bottom: 1px solid #d6d6d6;
}
.priceTag{
    line-height: 5px;
    font-size: 13px;
}
.pizzaTypeBox{
    float: left;
    margin-left: 10%;
    box-shadow: 10px 10px 5px grey;
    margin-top: 2%;
    background-color: #f9f3ff;
    max-width: 35.33%;
    min-width: 380px;
    border-radius: 25px;
    height: 350px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .pizzaTypeBox{
        margin-right: 0px;
        margin-left: 0px;
        max-width: 100%;
    }

}
#pizzaTypeContainer{
    width: auto;
    height: 100%;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.pizzaTypeName{
    font-size: 25px;
    vertical-align: bottom;
    padding-right: 15px;
    padding-left: 15px;
    color: #6e6e6e;
}

.arrow{
    vertical-align: bottom;
    text-align: right;
}
.topItem li {
    display: inline-block;
    text-align: center;
    font-family: cursive;
    font-size: 18px;
    line-height: 0;
    vertical-align: top;
    color: darkgrey;
    transition: 0.2s;
    padding-right: 50px;
    padding-left: 10px;
}
.topItem nav{
    overflow:hidden;
    overflow-y:scroll;
}

.topItem li a {
    color: #696969;
    transition: 0.2s;
    text-decoration: none;
}

.topItem {
    display: flex;

}